body		{
			background-color: #292C33;
			padding: 0;
			margin: 0;
			color: #AEBCD8;
			}
a			{
			color: red;
			text-decoration: none;
			}
#banner     {
			border:1 solid black;
			background: #3d424c url("../img/logo.png") no-repeat;
			background-size: contain;
			background-position: 20px;
			width: 100%;
			height: 50px;
			margin: 0 auto 20 auto;
			color: white;
			text-align: center;
			}
#login0      {
			float: right;
			width: 190px;
			height: 100%;
            margin: 0 auto 0 auto;
			text-align: left;
            }
#login1     {
            float: right;
            height: 100%;
            margin: 0 10 0 10;
			text-align: center;
            }
#signin		{
			border: 1px solid #AEEE00;
            background-color: #3d424c;
			color: #AEEE00;
			width: 50px;
			}
#signout	{
			border: 1px solid red;
            background-color: #3d424c;
			color: red;
			}
#signup		{
			border: 1px solid #01B0F0;
            background-color: #3d424c;
			color: #01B0F0;
			width: 50px;
			position: relative;
			top: -40px;
			left: 131px;
			}
#cart		{
			float:right;
			width: 200px;
			margin: 0 20 0 0;
            background-color: #474D59;
			}
#cart .title
			{
			width: 100%;
			background-color: #3D424C;
			}
#content    {
            border:1 solid black;
            background-color: #474D59;
			width: 75%;
            max-width: 1000px;
            margin: 0 auto 0 auto;
            }
#menu		{
			width; 100%;
            background-color: #3D424C;
}
#menu .title
			{
			color: red;
}
div.game	 {
			 width: 100%;
			 margin: 0;
			 }
.game .title {
	  		 min-width: 70px;
			 padding: 10 0 0 10;
			 }
.game .hr    {
	        width: 100%;
            padding: 10 10 0 10;
			 }
#gamehr		{
	  		border: 1px solid #AEBCD8;
}
.game .table {
	  		width: 100%;
}
.game .pic	{
			margin: 10 0 0 10;
			vertical-align: top;
			}
.game .descr {
	  		 width: 100%;
	  		padding: 10 10 10 10;
			text-align: justify;
	  		vertical-align: top;
	  		}
.game .price	{
			width: 100px;
	  		text-align: center;
	  		vertical-align: bottom;
			}
#addtocart  {
			border: 1px solid #AEEE00;
            background-color: #3d424c;
			color: #AEEE00;
			}
#outofstock  {
			border: 1px solid red;
            background-color: #3d424c;
			color: red;
			}
